<app-dialog-container title="Complete commissioning">
  <div class="p-5" body>
    <p class="text-sm">Are you sure you want to complete the commissioning process without confirming any event?</p>
  </div>
  <div class="flex flex-1 items-center justify-end gap-9" footer>
    <span class="text-sm text-main-primary underline font-semibold cursor-pointer" (click)="handleCloseClick()" (keydown.enter)="handleCloseClick()">Discard</span>
    <app-button (buttonClick)="handleCompleteClick()">
      <span class="text-sm text-white font-semibold">Complete anyway</span>
    </app-button>
  </div>
</app-dialog-container>
