<app-dialog-container title="Delete user">
  <div class="p-5" body>
    <p class="text-sm">
      User
      <span class="text-sm font-medium"> {{ data.user }} </span>
      will be deleted from company
      <span class="text-sm font-medium"> {{ data.company }}</span>
      . Are you sure you want to continue?
    </p>
  </div>
  <div class="flex flex-1 items-center justify-end gap-9" footer>
    <span class="text-sm text-main-primary underline font-semibold cursor-pointer" (click)="handleCloseClick()" (keydown.enter)="handleCloseClick()">Discard</span>
    <app-button (buttonClick)="handleDeleteUserClick()">
      <span class="text-sm text-white font-semibold">Delete user</span>
    </app-button>
  </div>
</app-dialog-container>
