<ng-container *ngIf="loggedInUser$ | async as loggedInUser">
  <div *ngIf="event$ | async as event" class="w-full flex justify-between mt-2">
    <div class="flex flex-col gap-1">
      <p class="font-medium text-sm">{{ event.occurence_time | dateFormat : 'serverDateTimeFormat' : 'clientDateTimeFormat' }}</p>
      <div class="flex flex-row items-center justify-center">
        <app-event-icon class="text-error-500" [eventIcon]="event.event_icon"></app-event-icon>
        <p class="font-['Poppins'] font-medium text-sm leading-[16px] pl-1.5">{{ event.display_name }}</p>
      </div>
    </div>
    <p class="font-medium text-sm">{{ event.fleet_name }}</p>

    <div class="gap-2 flex">
      <div *ngIf="isStatusVisible$ | async" class="flex h-[48px]">
        <ng-container *ngIf="!eventUtil.isStatusSelected('FALSE_EVENT', loggedInUser, event)">
          <app-button class="w-full" *appHasPermission="[[accessGroup.EVENTS_EDITOR]]" (click)="handleStatusClick(event, 'FALSE_EVENT')" (keydown.enter)="handleStatusClick(event, 'FALSE_EVENT')">
            <span class="text-xs text-white font-semibold py-1">False Alarm</span>
          </app-button>
        </ng-container>
      </div>
      <div class="flex h-[48px]">
        <ng-container *ngIf="!eventUtil.isStatusSelected('TEST', loggedInUser, event)">
          <app-button class="w-full" *appHasPermission="[[accessGroup.ARCHIVED_EVENTS_EDITOR]]" (click)="handleStatusClick(event, 'TEST')" (keydown.enter)="handleStatusClick(event, 'TEST')">
            <span class="text-xs text-white font-semibold py-1">Test</span>
          </app-button>
        </ng-container>
      </div>
      <app-events-top-status></app-events-top-status>
      <app-events-top-menu [event]="event"></app-events-top-menu>
    </div>
  </div>
</ng-container>
