.loader {
  position: relative;
  overflow: hidden;

  &--small::before {
    transform: scale(0.5, 0.5);
  }

  &--main {
    &::before,
    &::after {
      z-index: 100000;
    }
  }

  &--infinite-scroll {
    &::before,
    &::after {
      z-index: 100000;
    }
  }

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 100000;
  }

  &::before {
    top: 50%;
    left: 50%;
    margin: -0.5em -0.5em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    animation: loading 1.3s infinite linear;
  }

  &::after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    opacity: 0.2;
    border-radius: 10px;
  }
}

@keyframes loading {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em var(--main-primary), 2em -2em 0 0em var(--main-primary), 3em 0 0 -1em var(--main-primary), 2em 2em 0 -1em var(--main-primary), 0 3em 0 -1em var(--main-primary), -2em 2em 0 -1em var(--main-primary), -3em 0 0 -1em var(--main-primary), -2em -2em 0 0 var(--main-primary);
  }
  12.5% {
    box-shadow: 0 -3em 0 0 var(--main-primary), 2em -2em 0 0.2em var(--main-primary), 3em 0 0 0 var(--main-primary), 2em 2em 0 -1em var(--main-primary), 0 3em 0 -1em var(--main-primary), -2em 2em 0 -1em var(--main-primary), -3em 0 0 -1em var(--main-primary), -2em -2em 0 -1em var(--main-primary);
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em var(--main-primary), 2em -2em 0 0 var(--main-primary), 3em 0 0 0.2em var(--main-primary), 2em 2em 0 0 var(--main-primary), 0 3em 0 -1em var(--main-primary), -2em 2em 0 -1em var(--main-primary), -3em 0 0 -1em var(--main-primary), -2em -2em 0 -1em var(--main-primary);
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em var(--main-primary), 2em -2em 0 -1em var(--main-primary), 3em 0em 0 0 var(--main-primary), 2em 2em 0 0.2em var(--main-primary), 0 3em 0 0em var(--main-primary), -2em 2em 0 -1em var(--main-primary), -3em 0em 0 -1em var(--main-primary), -2em -2em 0 -1em var(--main-primary);
  }
  50% {
    box-shadow: 0 -3em 0 -1em var(--main-primary), 2em -2em 0 -1em var(--main-primary), 3em 0 0 -1em var(--main-primary), 2em 2em 0 0em var(--main-primary), 0 3em 0 0.2em var(--main-primary), -2em 2em 0 0 var(--main-primary), -3em 0em 0 -1em var(--main-primary), -2em -2em 0 -1em var(--main-primary);
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em var(--main-primary), 2em -2em 0 -1em var(--main-primary), 3em 0 0 -1em var(--main-primary), 2em 2em 0 -1em var(--main-primary), 0 3em 0 0 var(--main-primary), -2em 2em 0 0.2em var(--main-primary), -3em 0 0 0 var(--main-primary), -2em -2em 0 -1em var(--main-primary);
  }
  75% {
    box-shadow: 0em -3em 0 -1em var(--main-primary), 2em -2em 0 -1em var(--main-primary), 3em 0em 0 -1em var(--main-primary), 2em 2em 0 -1em var(--main-primary), 0 3em 0 -1em var(--main-primary), -2em 2em 0 0 var(--main-primary), -3em 0em 0 0.2em var(--main-primary), -2em -2em 0 0 var(--main-primary);
  }
  87.5% {
    box-shadow: 0em -3em 0 0 var(--main-primary), 2em -2em 0 -1em var(--main-primary), 3em 0 0 -1em var(--main-primary), 2em 2em 0 -1em var(--main-primary), 0 3em 0 -1em var(--main-primary), -2em 2em 0 0 var(--main-primary), -3em 0em 0 0 var(--main-primary), -2em -2em 0 0.2em var(--main-primary);
  }
}
