<app-dialog-container title="Reset password">
  <div class="p-5" body>
    <p class="text-sm">
      Are you sure you want to reset a password for user
      <span class="text-sm font-medium"> {{ data.user }} </span>
      ? The user will receive an email with a new password setup.
    </p>
  </div>
  <div class="flex flex-1 items-center justify-end gap-9" footer>
    <span class="text-sm text-brand-500 underline font-semibold cursor-pointer" (click)="handleCloseClick()" (keydown.enter)="handleCloseClick()">Discard</span>
    <app-button (buttonClick)="handleResetClick()">
      <span class="text-sm text-white font-semibold">Reset</span>
    </app-button>
  </div>
</app-dialog-container>
