<app-dialog-container title="Delete user">
  <div class="p-5" body>
    <p class="text-sm">
      Vehicle
      <span class="text-sm font-medium"> {{ data.registration_plate }} </span>
      will be detached from fleet
      <span class="text-sm font-medium"> {{ data.fleet_name }}</span>
      . Are you sure you want to continue?
    </p>
  </div>
  <div class="flex flex-1 items-center justify-end gap-9" footer>
    <span class="text-sm text-brand-500 underline font-semibold cursor-pointer" (click)="handleCloseClick()" (keydown.enter)="handleCloseClick()">Discard</span>
    <app-button (buttonClick)="handleDeleteVehicleClick()">
      <span class="text-sm text-white font-semibold">Delete vehicle</span>
    </app-button>
  </div>
</app-dialog-container>
