<ng-container *ngIf="vehicleChecks">
  <app-virtual-infinity-scroll [items]="vehicleChecks" [itemSize]="100" [keyofItem]="'id'" [loading]="vehicleChecksLoading" [listDivider]="true">
    <ng-container header>
      <ng-container *ngIf="showTitle; else onlySelect">
        <div class="min-h-[40px] flex justify-between items-center">
          <ng-content select="[title]"></ng-content>
          <app-select-control class="w-[120px]" [formControl]="formParams.controls.status!" label="Type" [options]="statusOptions"></app-select-control>
        </div>
      </ng-container>

      <ng-template #onlySelect>
        <app-select-control class="w-[120px]" [formControl]="formParams.controls.status!" label="Type" [options]="statusOptions"></app-select-control>
      </ng-template>
    </ng-container>

    <ng-template #item [appVirtualInfinityScrollContext]="vehicleChecks" let-vehicleCheck>
      <ng-container *appHasPermission="[[vehicleCheckViewer]]">
        <div class="flex justify-between items-center py-4 cursor-pointer" (keydown.enter)="handleRowClick(vehicleCheck)" (click)="handleRowClick(vehicleCheck)">
          <div class="flex items-center gap-4">
            <div class="h-[50px] flex-[0_0_50px] flex justify-center items-center rounded-full" [ngClass]="{ 'bg-success-500--30': vehicleCheck.status === 'Complete' && vehicleCheck.vehicle_check_status === 'PASSED', 'bg-error-50': vehicleCheck.status === 'Complete' && vehicleCheck.vehicle_check_status === 'FAILED' }">
              <img [src]="vehicleCheck.status === 'Incomplete' ? 'assets/svg/icons-gray-back/56.svg' : vehicleCheck.vehicle_check_status === 'PASSED' ? 'assets/svg/icons-gray-back/55.svg' : 'assets/svg/icons-gray-back/58.svg'" width="40" height="40" alt="icon" />
            </div>
            <div class="flex flex-col gap-2">
              <div class="flex items-center gap-2">
                <p class="whitespace-nowrap font-semibold">{{ vehicleCheck.registration_plate }}</p>
                <svg width="2" height="2" viewBox="0 0 2 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="1" cy="1" r="1" fill="currentColor" />
                </svg>
                <p class="text-xs" [ngClass]="vehicleCheck.status === 'Complete' && vehicleCheck.vehicle_check_status === 'PASSED' ? 'text-success-500' : 'text-error-500'">
                  {{ vehicleCheck.vehicle_check_status ?? vehicleCheck.status }}
                </p>
              </div>
              <div class="flex items-center gap-2">
                <p class="font-semibold text-xs text-neutral-700">{{ vehicleCheck.driver_name }}</p>
                <svg class="text-neutral-700" width="2" height="2" viewBox="0 0 2 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="1" cy="1" r="1" fill="currentColor" />
                </svg>
                <p class="text-xs text-neutral-700">{{ vehicleCheck.date | dateFormat : 'serverDateFormat' : 'clientDateFormat' }}</p>
              </div>
            </div>
          </div>
          <div *appHasPermission="[[vehicleCheckDownloader]]">
            <div *ngIf="vehicleCheck.vehicle_check_status" class="rounded cursor-pointer text-error-500" (click)="handleExportItemClick($event, vehicleCheck.id)" (keydown.enter)="handleExportItemKeyDown(vehicleCheck.id)">
              <img src="assets/svg/pdf-file-icon.svg" width="30" height="30" alt="pdf" />
            </div>
          </div>
        </div>
      </ng-container>
    </ng-template>
  </app-virtual-infinity-scroll>

  <div *ngIf="vehicleChecks.length === 0" class="text-center -translate-y-96">
    <p class="text-sm">There are no vehicle checks available</p>
  </div>
</ng-container>
