<div class="flex flex-col gap-5">
  <div class="flex gap-5">
    <div class="w-72 flex flex-col gap-6 p-5 border-r border-neutral-400">
      <div class="h-[500px] flex flex-col gap-2 overflow-y-auto">
        <app-button (buttonClick)="handleCreateAdminNoticeClick()">
          <span class="w-48 text-sm text-white font-semibold">Create new notice</span>
        </app-button>
        <div class="flex items-center gap-1 pt-6">
          <span [ngClass]="{ 'text-brand-500': currentStatus === null, 'text-neutral-700': true }" (click)="resetFilters()" (keydown.enter)="resetFilters()" class="text-sm font-normal cursor-pointer">All notices</span>
        </div>
        <div class="flex items-center gap-1 cursor-pointer">
          <span [ngClass]="{ 'text-brand-500': currentStatus === 'completed', 'text-neutral-700': true }" (click)="filterByStatus('completed')" (keydown.enter)="filterByStatus('completed')" class="text-sm font-normal cursor-pointer">Sent</span>
        </div>
        <div class="flex items-center gap-1 cursor-pointer">
          <span [ngClass]="{ 'text-brand-500': currentStatus === 'pending', 'text-neutral-700': true }" (click)="filterByStatus('pending')" (keydown.enter)="filterByStatus('pending')" class="text-sm font-normal cursor-pointer">Planned</span>
        </div>
        <div class="flex items-center gap-1 cursor-pointer">
          <span [ngClass]="{ 'text-brand-500': currentStatus === 'draft', 'text-neutral-700': true }" (click)="filterByStatus('draft')" (keydown.enter)="filterByStatus('draft')" class="text-sm font-normal cursor-pointer">Drafts</span>
        </div>
      </div>
    </div>
    <div class="flex flex-col flex-1 p-5 gap-4">
      <app-settings-core-notice-list [data]="infotainments$" [currentStatus]="currentStatus"> </app-settings-core-notice-list>
      <ng-container *ngIf="infotainments$ | async as response">
        <ng-container *ngIf="perPage$ | async as perPage">
          <ng-container *ngIf="response && response.meta && response.meta.total_items && response.meta.total_items > 0">
            <app-paginator class="flex justify-center" [info]="{ page: response.meta.current_page, perPage, totalItems: response.meta.total_items }" (pageChange)="onPageChange($event)"> </app-paginator>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
