<div class="line-chart-container w-full h-full">
  <apx-chart #chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis" [yaxis]="chartOptions.yaxis" [dataLabels]="chartOptions.dataLabels" [title]="chartOptions.title" [colors]="chartOptions.colors" [stroke]="chartOptions.stroke" [fill]="chartOptions.fill" [markers]="chartOptions.markers" [grid]="chartOptions.grid" [tooltip]="chartOptions.tooltip" [legend]="chartOptions.legend" class="w-full h-full"></apx-chart>
</div>
