<div *appHasPermission="[[accessGroup.SETTINGS_VEHICLE_EVENT_STRATEGIES]]" class="flex flex-col gap-5 p-5">
  <div class="flex gap-5">
    <div class="flex-1 flex flex-col gap-4">
      <div class="flex justify-between items-center">
        <h2 class="text-xl font-bold">Event Strategies</h2>
        <div class="flex gap-3">
          <app-button class="font-semibold" (buttonClick)="handleCreateStrategyClick()"> Create new strategy </app-button>
          <app-button type="secondary" class="font-semibold" (buttonClick)="handleFleetStrategiesClick()"> Fleet strategies </app-button>
        </div>
      </div>

      <app-settings-core-event-strategies-list class="flex-1" [data$]="eventStrategiesResponse$" (editStrategy)="handleEditStrategyClick($event)" (deleteStrategy)="handleDeleteStrategyClick($event)"> </app-settings-core-event-strategies-list>

      <div class="flex flex-col gap-5">
        <ng-container *ngIf="eventStrategiesResponse$ | async as response">
          <app-paginator class="flex justify-center" *ngIf="response.meta.total_items > 0" [info]="{ page: response.meta.current_page, perPage: perPage, totalItems: response.meta.total_items }" (pageChange)="onPageChange($event)"> </app-paginator>
        </ng-container>
      </div>
    </div>
  </div>
</div>
