<div>
  <header class="flex flex-col items-center justify-center pb-3 border-b border-solid">
    <img ngSrc="assets/svg/logo-icon.svg" width="122" height="31" alt="logo-icon" />
  </header>
  <form class="flex flex-col gap-3" [formGroup]="form" (ngSubmit)="handleFormSubmit()">
    <span></span>
    <app-text-control label="Email" formControlName="email"></app-text-control>
    <div class="flex justify-between pt-3 border-t border-solid border-neutral-200">
      <button class="py-1 px-3 rounded-xl border border-solid" type="button" [routerLink]="['/', ROUTE_CONST.login]">Back</button>
      <button class="py-1 px-3 rounded-xl border border-solid" type="submit">Reset password</button>
    </div>
  </form>
</div>
