<div class="p-6">
  <div *ngIf="error$ | async as error" class="p-5 mb-6 text-red-600">
    <p>{{ error }}</p>
  </div>

  <div *ngIf="isLoading$ | async" class="flex justify-center items-center h-64">
    <mat-spinner></mat-spinner>
  </div>

  <ng-container *ngIf="(showContent$ | async) === true">
    <ng-container *ngIf="content$ | async as content">
      <div *ngIf="content">
        <h1 class="text-2xl font-semibold mb-6">{{ content.title }}</h1>

        <div class="mb-4" *ngIf="content.description">
          <p class="text-gray-600">{{ content.description }}</p>
        </div>

        <div class="guide-content">
          <ng-container *ngFor="let block of content.blocks">
            <div *ngIf="block.__component === 'shared.rich-text'" class="mb-6">
              <div [innerHTML]="formatMarkdown(block.body)"></div>
            </div>

            <div *ngIf="block.__component === 'shared.media' && block.file" class="media-container">
              <img [src]="apiUrl + block.file.url" [alt]="block.file.alternativeText || block.file.name" />
            </div>
          </ng-container>
        </div>

        <div class="mt-10 pt-6 border-t border-chinese-silver flex justify-between">
          <button *ngIf="prevSlug" (click)="navigateToPage(prevSlug)" class="px-4 py-3 cursor-pointer hover:bg-indigo-100 hover:text-indigo-700 hover:font-medium transition-colors duration-150 flex items-center">
            <i class="fas fa-chevron-left mr-2"></i>
            Previous
          </button>
          <div *ngIf="!prevSlug"></div>

          <button *ngIf="nextSlug" (click)="navigateToPage(nextSlug)" class="px-4 py-3 cursor-pointer hover:bg-indigo-100 hover:text-indigo-700 hover:font-medium transition-colors duration-150 flex items-center">
            Next
            <i class="fas fa-chevron-right ml-2"></i>
          </button>
          <div *ngIf="!nextSlug"></div>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <div *ngIf="(isLoading$ | async) === null && (error$ | async) === null && (content$ | async) === null">
    <p class="text-center text-lg p-10">No content available</p>
  </div>
</div>
