<div *ngIf="driver$ | async as driver" class="w-full flex justify-between mt-2">
  <p class="font-bold text-xl">{{ driver.name }}</p>
  <div class="flex items-center gap-2">
    <div *appHasPermission="[[accessGroup.LEADERBOARD_DOWNLOADER]]" class="h-[46px] w-[46px] flex justify-center items-center rounded cursor-pointer border border-new-gray-400 bg-white text-extra-two" (click)="handleExportClick()" (keydown.enter)="handleExportClick()" appTooltip="Export to PDF">
      <img src="assets/svg/pdf-file-icon.svg" width="24" height="24" alt="pdf" />
    </div>
    <div class="h-[48px] w-[165px] flex items-center justify-between gap-2 p-3 rounded cursor-pointer bg-white custom-select" [cdkMenuTriggerFor]="menu">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.66699 1.66602V4.16602" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M13.333 1.66602V4.16602" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M2.91699 7.57422H17.0837" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M17.5 7.08268V14.166C17.5 16.666 16.25 18.3327 13.3333 18.3327H6.66667C3.75 18.3327 2.5 16.666 2.5 14.166V7.08268C2.5 4.58268 3.75 2.91602 6.66667 2.91602H13.3333C16.25 2.91602 17.5 4.58268 17.5 7.08268Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M13.0788 11.4167H13.0863" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M13.0788 13.9167H13.0863" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M9.99632 11.4167H10.0038" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M9.99632 13.9167H10.0038" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M6.91185 11.4167H6.91933" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M6.91185 13.9167H6.91933" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      <p class="font-medium text-sm">{{ selectedRangeMessage$ | async }}</p>
      <svg width="12" height="6" viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path opacity="0.6" d="M1 1L6.17241 5L11 1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </div>
  </div>
</div>

<ng-template #menu>
  <div class="w-[250px] flex flex-col gap-2 bg-white shadow-lg" cdkMenu>
    <a *ngFor="let range of RANGES; trackByField: 'id'" class="p-2 font-medium text-sm cursor-pointer" cdkMenuItem (click)="handleDaysClick(range.id)">
      {{ range.text }}
    </a>
    <span class="flex-[0_0_1px] w-full bg-platinum"></span>
  </div>
</ng-template>
