<div [routerLink]="link ? ['/', link] : null" [routerLinkActive]="''" #mainRouteActive="routerLinkActive">
  <ng-container *ngIf="{ isActive: shouldBeActive(mainRouteActive.isActive, subRouteActive.isActive) } as ctx">
    <a
      class="nav-link group"
      [ngClass]="{
        'nav-link--active': ctx.isActive,
        'nav-link--collapsed': isCollapsed
      }"
      [attr.aria-label]="isCollapsed ? tooltipLabel : null"
      [attr.aria-current]="ctx.isActive ? 'page' : null"
      [matTooltip]="isCollapsed ? tooltipLabel : ''"
      matTooltipPosition="right">
      <div class="nav-link__icon" [ngClass]="{ 'nav-link__icon--active': ctx.isActive }" aria-hidden="true">
        <ng-content></ng-content>
      </div>
      <div *ngIf="!isCollapsed" class="nav-link__label" [ngClass]="{ 'nav-link__label--active': ctx.isActive }">
        {{ text }}
      </div>
      <div *ngIf="badge && !isCollapsed" class="nav-link__badge">
        {{ badge }}
      </div>
    </a>
  </ng-container>
</div>
<a class="hidden" [routerLink]="['/', subLinkActive ?? 'placeholder']" [routerLinkActive]="''" #subRouteActive="routerLinkActive">
  <span class="sr-only">{{ subLinkActive }}</span>
</a>
