<div class="relative">
  <div class="absolute top-[-98px]">
    <app-fleets-top-actions></app-fleets-top-actions>
  </div>
</div>
<div class="grid grid-cols-6 auto-rows-max gap-4">
  <div class="row-start-1 h-[116px]">
    <app-fleets-core-active-vehicles></app-fleets-core-active-vehicles>
  </div>
  <div class="row-start-1 h-[116px]">
    <app-fleets-core-events-to-review></app-fleets-core-events-to-review>
  </div>
  <div class="row-start-1 h-[116px]">
    <app-fleets-core-escalations></app-fleets-core-escalations>
  </div>
  <div class="row-start-1 h-[116px]"><app-fleets-core-fatigue></app-fleets-core-fatigue></div>
  <div class="row-start-1 h-[116px]">
    <app-fleets-core-distraction></app-fleets-core-distraction>
  </div>
  <div class="row-start-1 h-[116px]">
    <app-fleets-core-no-driver></app-fleets-core-no-driver>
  </div>
  <div class="exeros-fragment row-start-2 h-[312px] col-start-1 col-end-5">
    <app-fleets-core-event-type></app-fleets-core-event-type>
  </div>
  <app-fleets-core-events-per-vehicle class="exeros-fragment row-start-2 row-end-3 h-[312px] col-start-5 col-end-7"></app-fleets-core-events-per-vehicle>
  <div class="row-start-3 col-start-1 col-end-7 h-[500px]">
    <app-fleets-charts-tab></app-fleets-charts-tab>
  </div>
</div>
