<div class="flex flex-col bg-white rounded-xl gap-2 mb-2 p-3">
  <div class="flex justify-between items-center">
    <p class="font-semibold text-xl">Search</p>
    <div class="grid grid-cols-2 gap-1.5">
      <div class="col-span-2">
        <div class="flex flex-wrap gap-1">
          <button *ngFor="let provider of providerOptions$" (click)="filterProvider(provider.value)" [ngClass]="isProviderActive(provider.value) ? provider.colorClass + ' text-black border-none' : 'bg-neutral-100 text-neutral-800'" class="text-xs h-[28px] min-w-[80px] px-2 flex items-center justify-center rounded cursor-pointer border border-neutral-400 hover:bg-neutral-50 shrink-0">
            {{ provider.label }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-1.5 py-0.5 bg-white rounded-xl">
    <app-tree-control *ngIf="fleetOptions$ | async as options" label="Fleet" [showHintSpace]="false" [options]="options" [formControl]="bodyGroup.controls.fleet_id"></app-tree-control>
    <div class="h-[48px] w-full flex items-center justify-between gap-2 px-2 rounded cursor-pointer bg-white custom-select" [cdkMenuTriggerFor]="menu">
      <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.66699 1.66602V4.16602" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M13.333 1.66602V4.16602" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M2.91699 7.57422H17.0837" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M17.5 7.08268V14.166C17.5 16.666 16.25 18.3327 13.3333 18.3327H6.66667C3.75 18.3327 2.5 16.666 2.5 14.166V7.08268C2.5 4.58268 3.75 2.91602 6.66667 2.91602H13.3333C16.25 2.91602 17.5 4.58268 17.5 7.08268Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      <p class="font-medium text-sm">{{ selectedRangeMessage$ | async }}</p>
      <svg width="20" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <g><path class="fill-black dark:fill-neutral-50" d="M7 10l5 5 5-5" fill="currentColor" opacity="0.5" /></g>
      </svg>
    </div>

    <ng-template #menu>
      <div class="w-[250px] flex flex-col gap-2 bg-white shadow-lg" cdkMenu>
        <a *ngFor="let range of RANGES; trackByField: 'id'" class="p-2 font-medium text-sm cursor-pointer" cdkMenuItem (click)="handleDaysClick(range.id)">
          {{ range.text }}
        </a>
        <span class="flex-[0_0_1px] w-full bg-neutral-200"></span>
        <app-calendar-control class="flex-[0_0_40px]" [formControl]="rangeFilterControl"></app-calendar-control>
      </div>
    </ng-template>
  </div>

  <div class="grid grid-cols-3 items-center gap-2">
    <div class="col-span-2">
      <app-select-control-counter class="col-span-2" *ngIf="eventTypes$ | async as types" label="Event type" [showHintSpace]="false" [clearable]="true" [multiple]="true" [selectAll]="true" [mode]="''" [options]="types" [formControl]="bodyGroup.controls.event_type"></app-select-control-counter>
    </div>
    <div class="col-span-1 mb-[2px]">
      <button (click)="filterClipEvents()" [ngClass]="{ 'bg-brand-500 text-white border-none': activeQuickFilter === 'Clip Event' }" class="px-3 py-1 flex items-center justify-center rounded cursor-pointer border border-neutral-400 hover:bg-neutral-50 shrink-0">
        <span class="font-normal text-xs">View manual downloads</span>
      </button>
    </div>
  </div>

  <div *ngIf="hasFatigueEvents || hasBsdEvents || hasBridgeEvents || hasDscEvents" class="col-span-2 flex items-center gap-2 text-xs z-50">
    <span class="text-neutral-500 shrink-0">Quick Filters:</span>
    <div class="flex gap-1 overflow-x-auto">
      <button *ngIf="hasFatigueEvents" (click)="filterFatigue()" [ngClass]="{ 'bg-brand-500 text-white border-none': activeQuickFilter === 'Fatigue' }" class="h-[24px] min-w-[70px] px-2 flex items-center justify-center rounded cursor-pointer border border-neutral-400 hover:bg-neutral-50 shrink-0">Fatigue</button>
      <button *ngIf="hasBsdEvents" (click)="filterBSD()" [ngClass]="{ 'bg-brand-500 text-white border-none': activeQuickFilter === 'BSD' }" class="h-[24px] min-w-[70px] px-2 flex items-center justify-center rounded cursor-pointer border border-neutral-400 hover:bg-neutral-50 shrink-0">BSD</button>
      <button *ngIf="hasBridgeEvents" (click)="filterBridge()" [ngClass]="{ 'bg-brand-500 text-white border-none': activeQuickFilter === 'Bridge' }" class="h-[24px] min-w-[70px] px-2 flex items-center justify-center rounded cursor-pointer border border-neutral-400 hover:bg-neutral-50 shrink-0">Bridge</button>
      <button *ngIf="hasDscEvents" (click)="filterDSC()" [ngClass]="{ 'bg-brand-500 text-white border-none': activeQuickFilter === 'DSC' }" class="h-[24px] min-w-[70px] px-2 flex items-center justify-center rounded cursor-pointer border border-neutral-400 hover:bg-neutral-50 shrink-0">DSC</button>
    </div>
  </div>

  <div *ngIf="hasBrakingEvents || hasAcceleratingEvents || hasTurningEvents || hasShockEvents" class="col-span-2 flex items-center gap-2 text-xs z-10">
    <span class="text-neutral-500 shrink-0">Harsh Driving:</span>
    <div class="flex gap-1 overflow-x-auto">
      <button *ngIf="hasBrakingEvents" (click)="filterBraking()" [ngClass]="{ 'bg-brand-500 text-white border-none': activeQuickFilter === 'Acceleration alarm::rapid deceleration' }" class="h-[24px] min-w-[70px] px-2 flex items-center justify-center rounded cursor-pointer border border-neutral-400 hover:bg-neutral-50 shrink-0">Braking</button>
      <button *ngIf="hasAcceleratingEvents" (click)="filterAccelerating()" [ngClass]="{ 'bg-brand-500 text-white border-none': activeQuickFilter === 'Acceleration alarm::rapid acceleration' }" class="h-[24px] min-w-[70px] px-2 flex items-center justify-center rounded cursor-pointer border border-neutral-400 hover:bg-neutral-50 shrink-0">Accelerating</button>
      <button *ngIf="hasTurningEvents" (click)="filterTurning()" [ngClass]="{ 'bg-brand-500 text-white border-none': activeQuickFilter === 'Turning' }" class="h-[24px] min-w-[70px] px-2 flex items-center justify-center rounded cursor-pointer border border-neutral-400 hover:bg-neutral-50 shrink-0">Turning</button>
      <button *ngIf="hasShockEvents" (click)="filterShock()" [ngClass]="{ 'bg-brand-500 text-white border-none': activeQuickFilter === 'Acceleration alarm::Shock alarm' }" class="h-[24px] min-w-[70px] px-2 flex items-center justify-center rounded cursor-pointer border border-neutral-400 hover:bg-neutral-50 shrink-0">Shock</button>
    </div>
  </div>

  <div class="col-span-2 flex flex-col">
    <button class="group flex items-center gap-1 text-brand-500 hover:bg-neutral-50 px-2 py-1 rounded w-fit" (click)="isOpen = !isOpen">
      <span class="text-sm font-medium">Advanced filters</span>
      <svg class="w-3 h-3 transform transition-transform" [ngClass]="isOpen ? 'rotate-180' : ''" viewBox="0 0 24 24" fill="none">
        <path d="M7 10l5 5 5-5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>

    <div class="mt-1 space-y-1.5" *ngIf="isOpen">
      <div class="grid grid-cols-2 gap-1.5">
        <app-select-control *ngIf="vehicleOptions$ | async as options" label="Vehicle" [showHintSpace]="false" [clearable]="true" [multiple]="true" [options]="options" [formControl]="bodyGroup.controls.vehicle_id"></app-select-control>
        <app-select-control *ngIf="driverOptions$ | async as options" label="Driver" [showHintSpace]="false" [clearable]="true" [multiple]="true" [options]="options" [formControl]="bodyGroup.controls.driver_id"></app-select-control>
      </div>
      <div class="grid grid-cols-2 gap-1.5">
        <app-text-control label="Speed From" type="number" [showHintSpace]="false" [formControl]="bodyGroup.controls.speed_from"></app-text-control>
        <app-text-control label="Speed To" type="number" [showHintSpace]="false" [formControl]="bodyGroup.controls.speed_to"></app-text-control>
      </div>
      <div class="grid grid-cols-2 gap-1.5">
        <app-text-control label="Score From" type="number" [min]="0" [max]="5" [step]="0.01" [showHintSpace]="false" [formControl]="bodyGroup.controls.score_from"></app-text-control>
        <app-text-control label="Score To" type="number" [min]="0" [max]="5" [step]="0.01" [showHintSpace]="false" [formControl]="bodyGroup.controls.score_to"></app-text-control>
      </div>
    </div>
  </div>
</div>
