<div>
  <div class="h-[500px] w-[500px] m-auto">
    <video class="!hidden" #videoElement></video>
  </div>
  <form class="flex flex-col items-center gap-3 m-5" [formGroup]="form">
    <div class="w-full flex gap-3">
      <label class="flex-1 flex flex-col">
        url
        <input class="flex-1 p-3 bg-neutral-50 border border-solid rounded-xl" formControlName="url" />
      </label>
      <label class="flex-1 flex flex-col">
        deviceId
        <input class="flex-1 p-3 bg-neutral-50 border border-solid rounded-xl" formControlName="deviceId" />
      </label>
      <label class="flex-1 flex flex-col">
        channel
        <input class="flex-1 p-3 bg-neutral-50 border border-solid rounded-xl" formControlName="channel" />
      </label>
    </div>
    <div class="w-full flex gap-3">
      <label class="flex-1 flex flex-col">
        startTime (yyyy-MM-dd HH:mm:ss)
        <input class="flex-1 p-3 bg-neutral-50 border border-solid rounded-xl" formControlName="startTime" />
      </label>
      <label class="flex-1 flex flex-col">
        sn
        <input class="flex-1 p-3 bg-neutral-50 border border-solid rounded-xl" formControlName="sn" />
      </label>
      <label class="flex-1 flex flex-col">
        st
        <input class="flex-1 p-3 bg-neutral-50 border border-solid rounded-xl" formControlName="st" />
      </label>
    </div>
    <div class="flex gap-2">
      <button class="w-[100px] p-2 bg-neutral-300 border border-solid rounded-xl" type="button" (click)="handlePlayClick()">Play</button>
      <button class="w-[100px] p-2 bg-neutral-300 border border-solid rounded-xl" type="button" (click)="handlePauseClick()">Pause</button>
      <button class="w-[100px] p-2 bg-neutral-300 border border-solid rounded-xl" type="button" (click)="handleResumeClick()">Resume</button>
      <button class="w-[100px] p-2 bg-neutral-300 border border-solid rounded-xl" type="button" (click)="handleStopClick()">Stop</button>
    </div>
  </form>
</div>
