<app-dialog-container title="Delete event strategy">
  <div class="p-5" body>
    <p class="text-sm">
      Are you sure you want to delete
      <span class="text-sm font-medium">{{ data.strategy }}</span
      >? This action cannot be undone.
    </p>
  </div>
  <div class="flex flex-1 items-center justify-end gap-9" footer>
    <span class="text-sm text-brand-500 underline font-semibold cursor-pointer" (click)="handleCloseClick()" (keydown.enter)="handleCloseClick()"> Cancel </span>
    <app-button (buttonClick)="handleDeleteClick()">
      <span class="text-sm text-white font-semibold">Delete strategy</span>
    </app-button>
  </div>
</app-dialog-container>
