<app-dialog-container title="Change password">
  <div class="flex flex-col gap-8 p-5" body>
    <div class="flex flex-col gap-4">
      <app-text-control [type]="'password'" label="Old password*" [formControl]="bodyGroup.controls.old_password"></app-text-control>
      <app-text-control [type]="'password'" label="New password*" [formControl]="bodyGroup.controls.new_password"></app-text-control>
      <app-text-control [type]="'password'" label="Confirm new password*" [formControl]="bodyGroup.controls.new_password_confirmation"></app-text-control>
    </div>
    <span class="text-xs text-dim-gray">* - mandatory fields</span>
  </div>
  <div class="flex flex-1 justify-end" footer>
    <app-button [disabled]="!bodyGroup.dirty" (buttonClick)="handleChangePasswordClick()">
      <span class="text-sm text-white font-semibold">Change password</span>
    </app-button>
  </div>
</app-dialog-container>
