<mat-form-field class="w-full" [appearance]="'outline'">
  <mat-label *ngIf="label">{{ label }}</mat-label>
  <mat-date-range-input [rangePicker]="picker" [disabled]="disabled">
    <input matStartDate [(ngModel)]="from" (ngModelChange)="handleModelChange([$event, to])" />
    <input matEndDate [(ngModel)]="to" (ngModelChange)="handleModelChange([from, $event])" />
  </mat-date-range-input>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker [startAt]="to"></mat-date-range-picker>
</mat-form-field>
