<app-telematics-core-card title="Crash Event">
  <div class="grid grid-cols-[60px_1fr_1fr] auto-rows-auto overflow-auto">
    <ng-container *ngIf="crashEvents && crashEvents.length > 0; else noData">
      <ng-container *ngFor="let crash of crashEvents">
        <div class="relative flex pl-1 items-center">
          <div class="h-9 w-9 bg-[#e6e6e6] rounded-full"></div>
          <div class="absolute translate-x-[6px] text-error-500">
            <app-telematics-core-crash-event-type [type]="crash.type"></app-telematics-core-crash-event-type>
          </div>
        </div>
        <div class="py-4 border-b border-neutral-400 text-xs font-medium">
          {{ crash.name }}
        </div>
        <div class="py-4 border-b border-neutral-400 text-xs font-medium">
          {{ crash.date | dateFormat : 'serverDateTimeFormat' : 'clientDateTimeFormat' }}
        </div>
      </ng-container>
    </ng-container>
    <ng-template #noData>
      <div class="col-span-3 flex justify-center py-4 text-xs font-medium">No Data</div>
    </ng-template>
  </div>
</app-telematics-core-card>
