<div class="flex-1 flex flex-col gap-4 pt-5">
  <div class="flex items-center gap-6">
    <span class="text-xl font-medium">{{ company?.name }}</span>
    <app-button [type]="'ternary'" (buttonClick)="handleEditCompanyClick()"><span class="text-sm font-semibold">Edit Company</span></app-button>
  </div>

  <div class="flex gap-24 mt-5">
    <img *ngIf="company?.logo as logo" class="h-fit rounded-lg aspect-square object-contain" [ngSrc]="logo" width="144" height="144" alt="avatar" />
    <div class="flex gap-5">
      <div class="flex flex-col items-end gap-2">
        <span class="text-sm text-manatee">Roles:</span>
        <span class="text-sm text-manatee">Users:</span>
        <span class="text-sm text-manatee">Branches:</span>
        <span class="text-sm text-manatee">Vehicles:</span>
        <span class="text-sm text-manatee">Licence end date:</span>
        <span class="text-sm text-manatee">End date reminder:</span>
      </div>
      <div *ngIf="company" class="flex flex-col items-start gap-2">
        <span class="text-sm font-medium">{{ company.roles_count }}</span>
        <span class="text-sm font-medium">{{ company.users_count }}</span>
        <span class="text-sm font-medium">{{ company.branches_count }}</span>
        <span class="text-sm font-medium">{{ company.vehicles_count }}</span>
        <span class="text-sm font-medium">{{ company.licence_end_date | dateFormat : 'serverDateFormat' : 'clientDateFormat' }}</span>
        <span class="text-sm font-medium" *ngFor="let item of company.license_renewal_remind_me_before">{{ item }}</span>
      </div>
    </div>
  </div>

  <div *appIsSuperAdmin="true" class="flex-1 flex flex-col gap-4">
    <div class="flex justify-between items-center">
      <p class="font-bold">Fleet accesses</p>
      <app-button (buttonClick)="handleCreateFleetAccessClick()"><span class="text-sm text-white font-semibold">Create new fleet access</span></app-button>
    </div>
    <table class="table-auto">
      <thead>
        <th></th>
        <tr class="border-b border-bright-gray">
          <td class="px-2"></td>
          <td class="px-2 py-2 text-xs text-manatee">Name</td>
          <td class="px-2 text-xs text-manatee">No. users assigned</td>
          <td class="px-2 text-xs text-manatee">No. vehicles assigned</td>
          <td class="px-2"></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fleetAccess of data" class="border-b border-bright-gray">
          <td class="px-2 text-sm"></td>
          <td class="px-2 py-4 text-sm">{{ fleetAccess.name }}</td>
          <td class="px-2 text-sm">{{ fleetAccess.company_fleet_access_users.length }}</td>
          <td class="px-2 text-sm">{{ fleetAccess.vehicles_count }}</td>
          <td class="px-2">
            <div class="flex">
              <span class="px-2 text-main-primary text-sm font-semibold underline cursor-pointer" (keydown.enter)="handleEditFleetAccessClick(fleetAccess)" (click)="handleEditFleetAccessClick(fleetAccess)">Edit</span>
              <span class="px-2 text-main-primary text-sm font-semibold underline cursor-pointer" (keydown.enter)="handleDeleteFleetAccessClick(fleetAccess)" (click)="handleDeleteFleetAccessClick(fleetAccess)">Delete</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mt-8" (keydown.enter)="handleDeleteCompanyClick()" (click)="canDelete ? handleDeleteCompanyClick() : null">
    <span matTooltip="Deleting a company is only possible if there are no assigned fleets, roles, users and vehicles." matTooltipPosition="right" [matTooltipDisabled]="canDelete" class="text-sm text-main-primary font-semibold cursor-pointer select-none" [ngClass]="!canDelete ? 'opacity-50' : ''">Delete company</span>
  </div>
</div>
