<div class="h-full flex flex-col gap-1 py-1 rounded">
  <ng-content select="[header]"></ng-content>
  <ng-content select="[filters]"></ng-content>
  <ng-container *ngIf="!loading; else skeletonTemplate">
    <ng-container *ngIf="items && items.length; else emptyTemplate">
      <cdk-virtual-scroll-viewport *ngIf="infiniteMaxBuffer" #listElement class="h-full" [itemSize]="itemSize" (scroll)="handleListScroll(listElement)" [maxBufferPx]="9999999">
        <div *cdkVirtualFor="let item of items; trackBy: trackBy; let first = first; let last = last" [ngClass]="{ 'mb-2 last:mb-0': listGap, 'border-b border-b-neutral-400 last:border-b-none': listDivider }">
          <ng-container *ngTemplateOutlet="listItemRef; context: { $implicit: item }"></ng-container>
        </div>
      </cdk-virtual-scroll-viewport>
      <cdk-virtual-scroll-viewport *ngIf="!infiniteMaxBuffer" #listElement class="h-full" [itemSize]="itemSize" (scroll)="handleListScroll(listElement)">
        <div *cdkVirtualFor="let item of items; trackBy: trackBy; let first = first; let last = last" [ngClass]="{ 'mb-1 last:mb-0 h-[155px]': listGap, 'border-b border-b-neutral-400 last:border-b-none': listDivider }">
          <ng-container *ngTemplateOutlet="listItemRef; context: { $implicit: item }"></ng-container>
        </div>
      </cdk-virtual-scroll-viewport>
    </ng-container>
    <ng-template #emptyTemplate>
      <ng-content select="[empty]"></ng-content>
    </ng-template>
  </ng-container>
  <ng-template #skeletonTemplate>
    <div class="flex flex-col gap-3 p-2">
      <app-skeleton-loader variant="table-row"></app-skeleton-loader>
      <app-skeleton-loader variant="table-row"></app-skeleton-loader>
      <app-skeleton-loader variant="table-row"></app-skeleton-loader>
    </div>
  </ng-template>
</div>
