<div class="w-[530px] flex flex-col gap-6 p-6 rounded bg-white">
  <div class="flex flex-col gap-2">
    <p class="font-bold text-lg">{{ data.header }}</p>
    <p *ngIf="data.content">{{ data.content }}</p>
  </div>
  <app-text-control [label]="data.textLabel" *ngIf="data.showTextInput" [(ngModel)]="text"></app-text-control>
  <app-select-control *ngIf="data.showSelectInput" [(ngModel)]="select" [label]="data.selectLabel" [options]="data.options"></app-select-control>
  <div *ngIf="data.showDriverFatigueInputFields" class="flex flex-col gap-4">
    <div class="flex flex-col gap-2">
      <p>Did the driver physically fall asleep at the wheel?</p>
      <div class="flex gap-3">
        <button class="py-2 px-4 border-2 border-brand-500 rounded-lg text-sm text-brand-500 font-semibold" [ngClass]="{ 'bg-brand-500 text-white': driverFatigueSelection1 === true, 'bg-neutral-100 hover:bg-neutral-200': driverFatigueSelection1 !== true }" (click)="selectAnswer(1, true)">Yes</button>
        <button class="py-2 px-4 border-2 border-brand-500 rounded-lg text-sm text-brand-500 font-semibold" [ngClass]="{ 'bg-brand-500 text-white': driverFatigueSelection1 === false, 'bg-neutral-100 hover:bg-neutral-200': driverFatigueSelection1 !== false }" (click)="selectAnswer(1, false)">No</button>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <p>Is there any indication that an accident took place or suggestion of injuries?</p>
      <div class="flex gap-3">
        <button class="py-2 px-4 border-2 border-brand-500 rounded-lg text-sm text-brand-500 font-semibold" [ngClass]="{ 'bg-brand-500 text-white': driverFatigueSelection2 === true, 'bg-neutral-100 hover:bg-neutral-200': driverFatigueSelection2 !== true }" (click)="selectAnswer(2, true)">Yes</button>
        <button class="py-2 px-4 border-2 border-brand-500 rounded-lg text-sm text-brand-500 font-semibold" [ngClass]="{ 'bg-brand-500 text-white': driverFatigueSelection2 === false, 'bg-neutral-100 hover:bg-neutral-200': driverFatigueSelection2 !== false }" (click)="selectAnswer(2, false)">No</button>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <p>Is the driver showing continued signs of fatigue/are you concerned they may have another event?</p>
      <div class="flex gap-3">
        <button class="py-2 px-4 border-2 border-brand-500 rounded-lg text-sm text-brand-500 font-semibold" [ngClass]="{ 'bg-brand-500 text-white': driverFatigueSelection3 === true, 'bg-neutral-100 hover:bg-neutral-200': driverFatigueSelection3 !== true }" (click)="selectAnswer(3, true)">Yes</button>
        <button class="py-2 px-4 border-2 border-brand-500 rounded-lg text-sm text-brand-500 font-semibold" [ngClass]="{ 'bg-brand-500 text-white': driverFatigueSelection3 === false, 'bg-neutral-100 hover:bg-neutral-200': driverFatigueSelection3 !== false }" (click)="selectAnswer(3, false)">No</button>
      </div>
    </div>
  </div>

  <div class="flex gap-3">
    <app-button (buttonClick)="handleYesClick()">{{ data.yes ?? 'Confirm' }}</app-button>
    <app-button (buttonClick)="handleNoClick()">{{ data.no ?? 'Cancel' }}</app-button>
  </div>
</div>
