<ng-container *ngIf="{ selectedId: selectedId$ | async } as ctx">
  <app-infinity-scroll *ngIf="vehiclesMeta$ | async as meta" [transparent]="true" [listGap]="true" [pageMeta]="meta" [loading]="vehiclesLoading$ | async">
    <ng-container list>
      <div *rxFor="let vehicle of vehicles$; trackByField: 'id'" class="flex justify-between gap-1 p-4 rounded-xl cursor-pointer border bg-white" [ngClass]="ctx.selectedId === vehicle.id ? 'border-main-primary' : 'border-transparent'" (keydown.enter)="handleVehicleClick(vehicle)" (click)="handleVehicleClick(vehicle)">
        <div class="flex items-center gap-2">
          <ng-container [ngSwitch]="vehicle.type">
            <img *ngSwitchCase="'HGV'" ngSrc="assets/svg/icons-gray-back/6.svg" width="40" height="40" alt="icon" />
            <img *ngSwitchCase="'VAN'" ngSrc="assets/svg/icons-gray-back/7.svg" width="40" height="40" alt="icon" />
            <img *ngSwitchCase="'BUS'" ngSrc="assets/svg/icons-gray-back/8.svg" width="40" height="40" alt="icon" />
            <img *ngSwitchCase="'COMPANY_CAR'" ngSrc="assets/svg/icons-gray-back/9.svg" width="40" height="40" alt="icon" />
            <img *ngSwitchCase="'TRAIN'" ngSrc="assets/svg/icons-gray-back/10.svg" width="40" height="40" alt="icon" />
          </ng-container>
          <div class="flex flex-col gap-2">
            <div class="flex gap-2">
              <p class="font-semibold">{{ vehicle.registration_plate }}</p>
              <div *ngIf="vehicle.status === 'Active'" class="flex items-center gap-2 px-2 py-1 rounded-md bg-honeydew">
                <svg class="text-extra-one" width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="4" cy="4" r="4" fill="currentColor" />
                </svg>
                <p class="font-medium text-xs text-extra-one">LIVE</p>
              </div>
              <div class="flex flex-col items-center" *ngIf="vehicle.status !== 'Active'">
                <div class="bg-old-lace flex items-center gap-2 px-2 py-1 rounded-md mr-auto">
                  <p *ngIf="!vehicle.inactive_since" class="font-medium text-sm leading-[14px] text-main-primary">OFFLINE</p>
                  <div [appTooltip]="'Offline since: ' + inactiveSince" *ngIf="vehicle.inactive_since as inactiveSince">
                    <p class="font-medium text-sm leading-[14px] text-extra-two">OFFLINE {{ offlineSince(inactiveSince) }}</p>
                  </div>
                </div>
              </div>
            </div>
            <p class="text-xs text-arsenic opacity-50">{{ vehicle.brand_name }} {{ vehicle.model_name }}</p>
          </div>
        </div>
        <div class="flex flex-col justify-between">
          <ng-container *appHasPermission="[[accessGroup.VEHICLES_EDITOR]]">
            <div [cdkMenuTriggerFor]="menu" class="flex items-center gap-1 py-2 px-3 rounded-md cursor-pointer">
              <div class="w-[2.5px] h-[2.5px] rounded-full bg-outer-space"></div>
              <div class="w-[2.5px] h-[2.5px] rounded-full bg-outer-space"></div>
              <div class="w-[2.5px] h-[2.5px] rounded-full bg-outer-space"></div>
            </div>
            <ng-template #menu>
              <div class="flex flex-col border border-platinum rounded-md bg-white shadow-lg" cdkMenu>
                <a class="px-4 py-2 text-sm cursor-pointer" (click)="handleEditCameraChannelsClick(vehicle)" cdkMenuItem>Edit Camera channels</a>
              </div>
            </ng-template>
          </ng-container>
          <div class="ml-auto items-center mt-auto">
            <app-vehicle-status-icons [hasTelematics]="vehicle.has_telematics" [hasVideo]="vehicle.has_video"> </app-vehicle-status-icons>
          </div>
        </div>
      </div>
    </ng-container>
  </app-infinity-scroll>
</ng-container>
