<app-dialog-container [title]="title">
  <div class="flex flex-col py-4" body>
    <div class="flex-[0_0_45px] flex items-center gap-10 px-6 overflow-x-auto">
      <a class="pb-4 whitespace-nowrap font-medium border-b-[3px] cursor-pointer" [ngClass]="module === 'details' ? 'border-brand-500' : 'border-transparent text-neutral-400'" (click)="handleModeClick('details')"> Profile </a>
      <a class="pb-4 whitespace-nowrap font-medium border-b-[3px] cursor-pointer" [ngClass]="module === 'notifications' ? 'border-brand-500' : 'border-transparent text-neutral-400'" (click)="handleModeClick('notifications')"> Notifications </a>
    </div>
    <span class="w-full flex-[0_0_1px] bg-neutral-200"></span>
    <div class="pt-6">
      <ng-container [ngSwitch]="module">
        <div *ngSwitchCase="'details'" class="flex flex-col gap-8 p-5">
          <div class="flex flex-col gap-4">
            <app-select-control [options]="(companyOptions$ | async) ?? []" [formControl]="bodyGroup.controls.company" [showHintSpace]="false" [error]="bodyGroup.controls.company.invalid && bodyGroup.controls.company.touched" errorText="Company is required" label="Company*"></app-select-control>
            <app-select-control [options]="(rolesOptions$ | async) ?? []" [formControl]="bodyGroup.controls.role" [showHintSpace]="false" label="Role*" [error]="bodyGroup.controls.role.invalid && bodyGroup.controls.role.touched" errorText="Company is required"></app-select-control>
            <app-select-control [options]="(fleetsOptions$ | async) ?? []" [formControl]="bodyGroup.controls.fleet_access_ids" [error]="bodyGroup.controls.fleet_access_ids.invalid && bodyGroup.controls.fleet_access_ids.touched" errorText="Fleet access is required" [multiple]="true" [showHintSpace]="false" label="Fleet access*"></app-select-control>
          </div>
          <div class="flex flex-col gap-4">
            <app-text-control [formControl]="bodyGroup.controls.name" [error]="bodyGroup.controls.name.invalid && bodyGroup.controls.name.touched" errorText="The name field is required" label="Name*"></app-text-control>
            <app-text-control [formControl]="bodyGroup.controls.email" [error]="bodyGroup.controls.email.invalid && bodyGroup.controls.email.touched" errorText="The email field is required" label="E-mail*"></app-text-control>
          </div>
          <span class="text-xs text-neutral-500">* - mandatory fields</span>
        </div>

        <div *ngSwitchCase="'notifications'" class="flex flex-col gap-2 p-5">
          <app-text-control [formControl]="searchControl" label="Search notifications" [prefixIcon]="'search'"> </app-text-control>
          <div class="flex flex-col gap-2" *ngIf="notifications$ | async as notifications">
            <div class="flex items-center gap-4 py-2">
              <div class="flex flex-row items-center border-neutral-200 w-full border-b-[1px]">
                <app-checkbox-control [ngModel]="allSelected" (ngModelChange)="handleSelectAllClick($event)"> </app-checkbox-control>
                <span class="text-neutral-700 text-xs">Notification type</span>
                <span class="text-xs ml-auto"> Selected: {{ selectedCount }} </span>
              </div>
            </div>

            <div class="flex flex-col gap-2">
              <div class="flex items-center gap-2" *ngIf="shouldShowNotification('vehicle_checks')">
                <app-checkbox-control [ngModel]="selectedNotifications['vehicle_checks']" (ngModelChange)="toggleNotification('vehicle_checks', $event)"> </app-checkbox-control>
                <img ngSrc="assets/svg/icons-gray-back/55.svg" width="24" height="24" alt="Vehicle Checks" />
                <span class="text-sm">Vehicle Checks</span>
              </div>

              <div class="flex items-center gap-2" *ngIf="shouldShowNotification('accidents')">
                <app-checkbox-control [ngModel]="selectedNotifications['accidents']" (ngModelChange)="toggleNotification('accidents', $event)"> </app-checkbox-control>
                <img ngSrc="assets/svg/icons-gray-back/54.svg" width="24" height="24" alt="Accidents" />
                <span class="text-sm">Accidents</span>
              </div>

              <div class="flex items-center gap-2" *ngIf="shouldShowNotification('vehicle_issues')">
                <app-checkbox-control [ngModel]="selectedNotifications['vehicle_issues']" (ngModelChange)="toggleNotification('vehicle_issues', $event)"> </app-checkbox-control>
                <img ngSrc="assets/svg/icons-gray-back/56.svg" width="24" height="24" alt="Vehicle Issues" />
                <span class="text-sm">Vehicle Issues</span>
              </div>
            </div>
            <ng-container *ngFor="let category of categories">
              <div class="flex flex-col gap-4 mt-4" *ngIf="hasCategoryEvents(notifications, category)">
                <span class="text-sm font-medium text-neutral-700">{{ getCategoryLabel(category) }}</span>

                <div class="flex items-center border-b border-neutral-400 pb-2">
                  <div class="flex-1 text-xs text-neutral-400">Notification type</div>
                  <div class="flex-[0_0_150px] text-xs text-neutral-400 text-center">Event Occurred</div>
                  <div class="flex-[0_0_150px] text-xs text-neutral-400 text-center">Event Escalated</div>
                </div>

                <div class="flex flex-col gap-3">
                  <ng-container *ngFor="let event of getEventsForCategory(notifications, category)">
                    <div class="flex items-center py-1" *ngIf="shouldShowNotification(event.name)">
                      <div class="flex items-center gap-2 flex-1">
                        <img [ngSrc]="event.event_icon" width="24" height="24" [alt]="event.default_name" />
                        <span class="text-sm">{{ event.name }}</span>
                      </div>

                      <div class="flex-[0_0_150px] flex justify-center">
                        <app-checkbox-control [ngModel]="occurredNotifications[event.default_name]" (ngModelChange)="toggleNotificationOccurred(event.default_name, $event)"> </app-checkbox-control>
                      </div>

                      <div class="flex-[0_0_150px] flex justify-center">
                        <app-checkbox-control [ngModel]="escalatedNotifications[event.default_name]" (ngModelChange)="toggleNotificationEscalated(event.default_name, $event)"> </app-checkbox-control>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="flex flex-1 justify-end" footer>
    <app-button (click)="data.type === 'edit' ? handleUpdateUserClick(data.id) : handleAddUserClick()" (keydown.enter)="data.type === 'edit' ? handleUpdateUserClick(data.id) : handleAddUserClick()">
      <span class="text-sm text-white font-semibold">{{ button }}</span>
    </app-button>
  </div>
</app-dialog-container>
