<app-infinity-scroll *ngIf="vehiclesMeta$ | async as meta" [transparent]="true" [listGap]="true" [pageMeta]="meta">
  <ng-container list>
    <div (click)="focusOnVehicle(vehicle)" (keydown.enter)="focusOnVehicle(vehicle)" *rxFor="let vehicle of vehicles$; trackByField: 'device_id'" class="flex justify-between gap-1 p-4 rounded-xl cursor-pointer border-transparent border bg-white">
      <div class="flex items-center gap-2">
        <img ngSrc="assets/svg/icons-gray-back/6.svg" width="40" height="40" alt="icon" />
        <div class="flex flex-col gap-2 pl-2">
          <div class="flex gap-2">
            <p class="font-semibold">{{ vehicle.registration_plate }}</p>
            <div *ngIf="vehicle.active" class="flex items-center gap-2 px-2 py-1 rounded-md bg-honeydew">
              <svg class="text-extra-one" width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="4" cy="4" r="4" fill="currentColor" />
              </svg>
              <p class="font-medium text-xs text-extra-one">LIVE</p>
            </div>
            <div class="flex flex-col items-center" *ngIf="!vehicle.active">
              <div class="bg-old-lace flex items-center gap-2 px-2 py-1 rounded-md mr-auto">
                <p class="font-medium text-sm leading-[14px] text-main-primary">OFFLINE</p>
              </div>
            </div>
          </div>
          <div class="flex flex-col">
            <p *ngIf="vehicle.time" class="font-normal text-xs">Location time: {{ vehicle.time | dateFormat : 'serverDateTimeFormat' : 'clientDateTimeFormat' }}</p>
            <p (click)="handleViewPlayback($event, vehicle)" (keydown.enter)="handleViewPlayback($event, vehicle)" class="font-['Poppins'] font-semibold text-sm text-main-primary cursor-pointer hover:underline pt-1">View playback</p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</app-infinity-scroll>
