<div>
  <header class="flex flex-col items-center justify-center pb-3 border-b border-solid">
    <img ngSrc="assets/svg/logo-icon.svg" width="122" height="31" alt="logo-icon" />
  </header>
  <form class="flex flex-col gap-3" [formGroup]="form" (ngSubmit)="handleFormSubmit()">
    <span></span>
    <app-text-control type="password" label="New Password" formControlName="password"></app-text-control>
    <app-text-control type="password" label="Password Confirmation" formControlName="password_confirmation"></app-text-control>
    <div class="flex justify-between pt-3 border-t border-solid border-dust-storm">
      <button class="py-1 px-3 rounded-xl border border-solid" type="button" [routerLink]="['/', ROUTE_CONST.login]">Back</button>
      <button class="py-1 px-3 rounded-xl border border-solid" type="submit">Change password</button>
    </div>
  </form>
</div>
