@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Titillium+Web:wght@600;700&display=swap');
@import '@angular/cdk/overlay-prebuilt.css';
@import 'assets/style/material';
@import 'assets/style/tailwind';
@import 'assets/style/google-map';
@import 'assets/style/loader';
@import 'assets/style/h265';

router-outlet {
  display: none;
}

.exeros-fragment {
  @apply p-6 bg-white rounded-xl;
}

body {
  font-family: Poppins, 'Helvetica Neue', sans-serif;
}

.custom-backdrop {
  backdrop-filter: blur(10px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

.custom-select {
  border: 1px solid #9295a2 !important; /* Equivalent to border-gray-300 */
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  outline: none;
}

.custom-select:hover {
  border-color: black !important;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

:root {
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
}
