<mat-form-field class="w-full" [ngClass]="showHintSpace ? '' : '-mb-[1.25em]'" [appearance]="'outline'">
  <mat-label *ngIf="label">{{ label }}</mat-label>
  <mat-select [multiple]="multiple" [disabled]="disabled || customDisable === 'true'" [ngModel]="value" (ngModelChange)="handleModelChange($event)" (openedChange)="handleOpenedChange($event)">
    <mat-select-trigger>
      <span class="text-neutral-500">Chosen: {{ selectedCount }}</span>
    </mat-select-trigger>
    <div class="sticky top-0 z-10 bg-white/95 backdrop-blur-sm">
      <div *ngIf="multiple" class="flex justify-end border-b border-neutral-200">
        <button class="px-4 py-2 text-sm hover:text-brand-600" (click)="handleSelectDeselectAllClick()">
          {{ allSelected ? 'Deselect All' : 'Select All' }}
        </button>
      </div>

      <div *ngIf="showSearchInput" class="border-b border-neutral-200">
        <input #searchInput class="w-full text-sm p-3 outline-none bg-transparent placeholder-neutral-400" [(ngModel)]="search" (ngModelChange)="handleSearchChange($event)" (keydown)="$event.stopPropagation()" placeholder="Type to search..." />
      </div>
    </div>

    <mat-option *ngFor="let option of tempOptions; trackByField: 'value'" [ngClass]="{ '!hidden': option.hidden }" [value]="option.value">
      {{ option.label }}
    </mat-option>
  </mat-select>

  <mat-icon *ngIf="prefixIcon" matPrefix>{{ prefixIcon }}</mat-icon>
  <button *ngIf="canClear" matSuffix mat-icon-button (click)="handleClearClick($event)">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
