<mat-form-field [ngClass]="showHintSpace ? '' : '-mb-[1.25em]'" class="w-full" [appearance]="'outline'" [class.mat-form-field-invalid]="hasError">
  <mat-label *ngIf="label">{{ label }}</mat-label>
  <input matInput [type]="_type" [attr.min]="min !== null ? min : null" [attr.max]="max !== null ? max : null" [attr.step]="step !== null ? step : null" [disabled]="disabled" [ngModel]="value" (ngModelChange)="handleModelChange($event)" />
  <mat-icon *ngIf="prefixIcon" matPrefix>{{ prefixIcon }}</mat-icon>
  <mat-icon *ngIf="isPassword" matSuffix (click)="handleChanglePasswordVisibilityClick()" (keydown.enter)="handleChanglePasswordVisibilityClick()">
    {{ _type === 'password' ? 'visibility' : 'visibility_off' }}
  </mat-icon>
</mat-form-field>
<mat-error class="text-xs mt-[-20px]" *ngIf="hasError">{{ displayError }}</mat-error>
