<div class="relative">
  <div class="absolute top-[-60px]">
    <app-stream-left-live-feed-menu></app-stream-left-live-feed-menu>
  </div>
</div>

<div class="border-b border-neutral-200 w-[100%] mt-[-15px] mb-6"></div>
<div class="grid grid-cols-3 gap-4 h-full">
  <ng-container *ngIf="loggedInUser$ | async as loggedInUser">
    <ng-container *ngIf="selectedId$ | async">
      <div class="col-span-1 min-h-[440px]">
        <app-stream-left-live-feed-map></app-stream-left-live-feed-map>
        <app-stream-left-recent-event></app-stream-left-recent-event>
      </div>
      <div class="col-span-2 flex flex-col h-[540px]">
        <ng-container *ngIf="liveFeed$ | async as liveFeed; else videoSkeleton">
          <app-stream-core-live-feed-videos></app-stream-core-live-feed-videos>
        </ng-container>
        <ng-template #videoSkeleton>
          <app-skeleton-loader variant="chart"></app-skeleton-loader>
        </ng-template>

        <div *ngIf="liveFeed$ | async as liveFeed" class="flex gap-4 w-full">
          <app-stream-core-telemetry class="w-full flex"></app-stream-core-telemetry>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
