<div *ngIf="loggedInUser$ | async as loggedInUser" class="flex py-2 px-3 gap-3 mx-auto items-center" [ngClass]="{ 'justify-center px-0': isCollapsed }">
  <div class="flex-shrink-0">
    <img class="rounded-full object-cover" style="width: 28px; height: 28px; border: 2px solid rgba(255,255,255,0.15)" [ngSrc]="loggedInUser.avatar" width="28" height="28" alt="avatar" />
  </div>

  <div
    class="flex flex-col overflow-hidden transition-all duration-300"
    [ngStyle]="{
      width: isCollapsed ? '0' : '140px',
      opacity: isCollapsed ? '0' : '1'
    }">
    <p class="font-medium text-sm leading-[18px]" style="color: rgba(255,255,255,0.85)">{{ loggedInUser.name }}</p>
    <p class="font-normal text-[10px]" style="color: rgba(255,255,255,0.4)">{{ loggedInUser.email }}</p>
  </div>
</div>
